- message = @notification.direct_message

|Hello <strong>#{message.project.try(:user).try(:display_name)}</strong>
br

|You have received a new message from #{message.user.try(:display_name)}, through the project page: #{message.project.name}:
br
br

p == message.content


p When replying to this email, <strong>you are sending a message directly to the address #{message.user.try(:email)}, what is the email of #{message.user.try(:display_name)}</strong>.


p <strong>Important</strong>: Catarse is not responsible for the content of messages sent via the platform. If you understand that the content of the message is spam or that in any way violates our Terms of Use, we ask you to notify our staff via email: #{mail_to CatarseSettings[:email_contact]}.
