| Hello
- if @resource.name
  | , #{@resource.name}!
br
br
| Forgot your password? No problem! Reset by clicking here 
= link_to('set new password', edit_password_url(@resource, reset_password_token: @token))
br
| If any problem happens, reply to this message directly or contact us via email #{mail_to ::CatarseSettings[:email_contact]} 
br
br
| Thank You,
br
= CatarseSettings[:company_name]
